body {
    text-align: center;
}
body h1 {
    text-align: left;
}
body img, body svg {
    width: 100px;
    max-width: 23vw;
    cursor: pointer;
}
body svg {
    cursor: unset;
}
#board, #set {
    display: none;
    vertical-align: top;
}
#set {
    margin: 52px 0 63px 50px;
}
#ldown {
    transform: rotate(180deg);
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111;
    color: #fff;
  }

  svg g {
    stroke: white;
  }

  .l {
    filter: invert(1);
  }
}
